/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Libre+Baskerville&family=Luxurious+Roman&family=Merriweather:wght@700&family=Poppins:wght@500&family=Roboto+Condensed&display=swap');


/* Common parts styles */

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:0;
    padding:0;
}

/* navbar styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}
.title{
    margin-left: 10%;
    font-size: 18px;
}
.nav-items{
    margin-right: 6%;
}
.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700;
    font-size: 15px;
    color: black;
}
.nav-items .nav-icon{
    color: rgba(255, 115, 115, 0.842);
    font-size: 18px;
}

/* Main part styles */
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    
}
.intro-part{
    width: 40%;
 }
.intro-part h1{
    font-size: 45px;
}
.intro-part p{
margin-bottom: 8%;
}

.intro-part a{
    text-decoration: none;
    background-color: rgba(255, 115, 115, 0.842);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.flex-box img{
    width:200%;
    margin-top: 25%;
    margin-right: 10%;
}

/* animation for search icon */
.fa-search{

    position: relative;
    animation: scaling 2s ease-in-out 0.5s infinite alternate;
    animation-play-state: running; 
}
@keyframes scaling {
    from{
       transform:scale(0.0);
    }
    to{
        transform: scale(1.2);
    }
}

/* Products styles */

.section-title{
    text-align: center;
    font-size: 27px;
    color: rgb(43, 39, 39);
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:25px;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 10px;
}
.product{
    box-shadow: 0px 0px 10px 10px rgb(241, 240, 240);
    width: 315px;
    padding: 10px;
    border-radius: 5px;
}
.product-pic img{
    padding: 5px;
}
.product-details{
    padding-left: 8px;
}
.fa-star{
    font-size: 10px;
}
.filled{
    color: rgb(223, 191, 10);
}
.empty{
    color: rgb(107, 97, 97);
}
.rating{
    font-size: 13px;
    font-weight: 700;
    color: rgb(70, 63, 63);
}
.info{
    font-size: 13px;
    font-weight: 700;
    color: rgb(107, 97, 97);
}
#see-button a{
    text-decoration: none;
    font-weight: 700;
    color: rgba(243, 69, 69, 0.842);
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-bottom: 5%;
    align-items: center;
}

/* Top reviews styles */

.top-reviews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5% 0;
    margin-left: 15%;
    margin-right: 10%;
    justify-content:center;
}
.top-review{
    width: 370px;
    height: 390px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(241, 240, 240);
}

.photo{
    padding-top: 15px;
    padding-bottom: 5px;
   padding-left: 30px;
 }
 /* Animation for photos */
.photo img{
    animation: zoom 4s ease-in-out 0s infinite alternate;
}
   @keyframes zoom {
       0%{
           transform: scale(1);
       }
       100%{
           transform: scale(1.2);
       }
   }

   /* Footer styles */
   footer{
       display: flex;
       flex-direction: column;
       background-color: #000027;
       color: white;
       text-align: center;
    /* left: 0;
    margin: 0;
    width: 100%; */
    /* padding: 10px; */
}
.footer-icon .fab{
    margin-left: 20px;
}

/* Media queries for mobile phones */
@media only screen and (max-width:688px){
    nav{
        flex-direction: column;
        padding-top: 25px;
    }
    .nav-items{
        justify-content: center;
        padding-left: 2%;
    }
    .flex-box{
        flex-direction: column;
       
    }
    .intro-part{
        width: 100%;
        margin-left: 25%;
    }
    .photo{
        margin-right: 45%;
    }

    .intro-part a{
        font-size: 12px;
    }
    .products, .section-title, .top-reviews{
        grid-template-columns: repeat(1, 1fr);
       padding-left: 10%;
    }
    .products{
        margin-left: 10%;
        margin-right: 5%;
      }
    footer{
        width: 110%;
        position: relative;
    } 
}
/* Media queries for Tablet devices */

@media only screen and (min-width:688px) and (max-width:992px){
    nav{
        flex-direction: column;
        padding-top: 25px;
    }
    .nav-items{
        justify-content: center;
        margin-left: 5%;
    }
    .products, .section-title, .top-reviews{
        grid-template-columns: repeat(2, 1fr);
     }
     .products{
         padding-left: 5%;
         padding-right: 5%;
     }
     footer{
        width: 110%;
        position: relative;
    } 

}